{% extends 'generator/base.html' %}

{% block content %}
        {% if object %}
    <div class="col-4">
    <form action="" method="post">
        {% csrf_token %}
          <div class="mb-3">
            <label for="id_scheme_name" class="form-label"> Scheme name :</label>
            <p>{{ form.scheme_name }}</p>
            <label for="id_rows" class="form-label"> Rows :</label>
            <p>{{ form.rows }}</p>
            <label for="id_rows" class="form-label"> Min age :</label>
            <p>{{ form.min_age }}</p>
            <label for="id_max_age" class="form-label"> Max age :</label>
            <p>{{ form.max_age }}</p>
            <label for="id_quantity_of_sentences" class="form-label"> How many sentences do you want to generate :</label>
            <p>{{ form.quantity_of_sentences }}</p>
          </div>
          <input type="submit" class="btn btn-primary" value="Create Scheme">
        </form>
    </div>
    <div class="col-8">
        <br>
         <div class="mb-3">
        <a href ="{% url 'scheme-column-list' object.id %}" class="btn btn-primary">Columns</a>
        </div>
        <div class="mb-3">
         <a class="btn btn-success" href="{%url 'scheme-column-add'%}?scheme_id={{ object.id }}" role="button">New Column</a>
         </div>
    </div>
      
        {% else %}
        <form action="" method="post">
        {% csrf_token %}
        <div class="col-12">
          <div class="mb-3">
            <label for="id_scheme_name" class="form-label"> Scheme name :</label>
            <p>{{ form.scheme_name }}</p>
            <label for="id_rows" class="form-label"> Rows :</label>
            <p>{{ form.rows }}</p>
            <label for="id_rows" class="form-label"> Min age :</label>
            <p>{{ form.min_age }}</p>
            <label for="id_max_age" class="form-label"> Max age :</label>
            <p>{{ form.max_age }}</p>
            <label for="id_quantity_of_sentences" class="form-label"> How many sentences do you want to generate :</label>
            <p>{{ form.quantity_of_sentences }}</p>
          </div>
        </div>
          <input type="submit" class="btn btn-primary" value="Create Scheme">
        </form>
        {% endif %}
{% endblock %}